.footer{
    display: flex;
    justify-content: flex-end;
    max-height: 2em;
    background-color: #0000a0;
    position: fixed;
    bottom: 0;
}
.footer span{
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
}

.footer span strong {
    font-style: italic;
    font-weight: 500;
    
}

